:root {
    --pop-mark-size: 20px;
    --font-family: Arial, Helvetica, sans-serif;
}

html {
    border-color: #736b5e;
    /*scrollbar-color: rgb(69, 74, 77), rgb(32, 35, 36), rgb(32, 35, 36), rgb(32, 35, 36);*/
}

body {
    background-color: #131516;
    color: #e8e6e3;
}

button {
    background-color: #2b2a33;
    color: #e8e6e3;
}

input {
    background-color: #2b2a33;
    color: #e8e6e3;
}

::placeholder {
	color: #b2aba1;
}

.japanese {
    font-family: var(--font-family);
    font-size: 40px;
}

.japanese img {
    max-width: 100%;
}

#wrap {
    margin: auto;
    width: 30%;
    padding: 4px;
    text-align: left;
}

#export_cache {
    font-family: var(--font-family);
    font-size: 17px;
    text-decoration: none;
}

.inputs {
    height: 30px;
    font-size: 17px;
}

.buttons {
    height: 30px;
    font-size: 17px;
}

.pop_mark {
    height: var(--pop-mark-size);
    width: var(--pop-mark-size);
}

.card_button {
    font-size: 17px;
}

#codebox {
    display: block;
    font-family: mono;
    background-color: #262730;
    white-space: pre-wrap;
    font-size: 17px;
    overflow: auto;
    scrollbar-width: thin;

    padding: 0.50em;
    padding-left: 0.68em;
    border: 1px solid;

}

#codebox code {
    padding: 0;
}

.token_command {
    color: #E3E37D;
    font-weight: bold;
}
